*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.margin_page{
    margin: 50px;
}

.elenco_to_do{
    list-style: none;
    margin-top: 25px;
}